body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: url('https://www.dfb.de/fileadmin/_processed_/202110/csm_248203-DL_Video_Logo_EURO_2024_8c77b748c7.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000; /* Texte noir pour contraste */
    overflow-x: hidden; /* Pour éviter le dépassement horizontal */
  }
  
  #colorful-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5); /* Fond blanc translucide */
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20rem;
    margin-right: 20rem;
  }
  
  #colorful-title span {
    margin: 0 2px;
  }
  
  .filter-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .filter {
    margin-bottom: 10px;
    flex: 1;
    min-width: 200px;
  }
  
  button {
    background-color: #009639; /* Couleur secondaire de l'Euro 2024 */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #00732d; /* Couleur légèrement plus foncée au survol */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Fond blanc translucide */
    border-radius: 10px;
    overflow: hidden; /* Pour que le border-radius s'applique au fond */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #005BAC; /* Couleur principale de l'Euro 2024 */
    color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  #Pays {
    margin-left: 25rem;
  }
  
  /* Media Queries pour l'adaptation mobile */
  @media (max-width: 768px) {
    body {
        background-size: 768px; /* Ajuste l'image de fond pour s'adapter à la taille de l'écran */
      }
    #colorful-title {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 1.5em;
    }
  
    .filter-container {
      flex-direction: column;
      align-items: center;
    }
  
    .filter {
      min-width: 100%;
      margin-bottom: 10px;
    }
  
    #Pays {
      margin-left: 0;
    }
  
    button {
      margin-left: 1rem;
      margin-right: 1rem;
      width: calc(100% - 2rem);
    }
  
    table {
      width: 100%;
    }
  
    th, td {
      font-size: 0.9em;
    }
  }
  